.showTodos {
    margin-top: .5rem;
    width: 25rem;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: center;
    gap: 8px;
}

.notShowTodos{
    margin-top: .5rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--gray-300);
    font-size: 1rem;
}

.notShowTodos svg{
    width: 3rem;
    height: 3rem;
}

.notShowTodos span:nth-child(2){
    font-weight: bolder;
}

@media (max-width: 425px) {
    .showTodos {
        width: 80%;
    }

    .notShowTodos {
        font-size: 0.9rem;
    }
}
