.card{
    padding: .25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 8px;
    background-color: var(--gray-400);
}

.card button{
    margin: 0;
    padding: 0;
    background: none;
    border: none;
}

.card > svg {
    color: var(--gray-300);
}

.card > span{
    text-align: start;
    color: var(--gray-100);
}

.done button svg{
    color: var(--purple-dark);
}

.unDone button svg{
    color: var(--blue);
}